# Build outputs
**/dist
**/build
**/.next
**/out

# Dependencies
**/node_modules

# Cache
**/.turbo
**/.cache
**/.vite

# Environment
**/.env
**/.env.*

# Test coverage
**/coverage

# Misc
**/*.min.js
**/*.bundle.js
